#!/bin/sh
# Exit immediately if a command produces an error.
set -e
# Source debconf library
. /usr/share/debconf/confmodule

if [ ! -f /etc/bitcoin/bitcoin.conf ]; then
	db_input high bitcoin-knots/bitcoinconf || true
	db_go || true
fi

db_input medium bitcoin-knots/prune-bool || [ $? -eq 30 ]
db_go || true

db_get bitcoin-knots/prune-bool || RET=
if [ "$RET" = "true" ];then
	db_input medium bitcoin-knots/prune || [ $? -eq 30 ]
	db_go || true
fi

if [ "$RET" = "false" ];then
	db_input medium bitcoin-knots/txindex || [ $? -eq 30 ]
	db_go || true
fi
unset RET

db_input medium bitcoin-knots/dbcache || [ $? -eq 30 ]
db_go || true