#!/bin/sh
# Exit immediately if a command produces an error.
set -e
# Source debconf library
. /usr/share/debconf/confmodule

if [ ! -f /etc/bitcoin/bitcoin.conf ]; then
	db_input high bitcoin-knots/bitcoinconf || true
	db_go || true
	exit 0
fi

db_reset bitcoin-knots/prune-bool
db_input medium bitcoin-knots/prune-bool || db_set bitcoin-knots/prune-bool ""
db_go || true

db_get bitcoin-knots/prune-bool || RET=
if [ "$RET" = "true" ];then
	db_reset bitcoin-knots/prune
	db_input medium bitcoin-knots/prune || db_set bitcoin-knots/prune ""
	db_go || true
fi

if [ "$RET" = "false" ];then
	db_reset bitcoin-knots/txindex
	db_input medium bitcoin-knots/txindex || db_set bitcoin-knots/txindex ""
	db_go || true
fi
unset RET

db_reset bitcoin-knots/dbcache
db_input medium bitcoin-knots/dbcache || db_set bitcoin-knots/dbcache ""
db_go || true