#!/bin/sh
# Exit immediately if a command produces an error.
set -e
# Source debconf library
. /usr/share/debconf/confmodule

if [ ! -f /etc/bitcoin/bitcoin.conf ]; then
	db_input high bitcoin-knots/bitcoinconf || true
	db_go || true
	exit 0
fi

db_reset bitcoin-knots/prune-bool || true
db_input medium bitcoin-knots/prune-bool || db_set bitcoin-knots/prune-bool ""
db_go || true

db_get bitcoin-knots/prune-bool || RET=
if [ "$RET" = "true" ];then
	db_reset bitcoin-knots/prune || true
	db_input medium bitcoin-knots/prune || db_set bitcoin-knots/prune ""
	db_go || true
	
	db_get bitcoin-knots/prune || RET=
	if [ "$RET" ]; then
		while true; do
		  if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -eq 0 ] || [ "$RET" -eq 1 ] || [ "$RET" -ge 550 ]; }; then
		    break
		  fi
		  db_input high bitcoin-knots/prune-fail || true
		  db_go || true
		  db_input medium bitcoin-knots/prune || true
		  db_go || true
		  db_get bitcoin-knots/prune || RET=
		done
	fi
	unset RET
	
	AUTOSIZE=$(df -m /var/lib/bitcoin 2>/dev/null | awk 'NR==2 {print $4}')
	if [ -n "$AUTOSIZE" ] && echo "$AUTOSIZE" | grep -qE '^[0-9]+$'; then
		db_set bitcoin-knots/pruneduringinit $(awk "BEGIN {printf \"%d\", $AUTOSIZE * 0.4}")
	else
		db_reset bitcoin-knots/pruneduringinit || true
	fi
	
	db_input low bitcoin-knots/pruneduringinit || db_set bitcoin-knots/pruneduringinit ""
	db_go || true
	db_get bitcoin-knots/pruneduringinit || RET=
	if [ "$RET" ]; then
		while true; do
		if echo "$RET" | grep -sqE '^-?[0-9]+$' && { [ "$RET" -eq -1 ] || [ "$RET" -eq 0 ] || [ "$RET" -eq 1 ] || [ "$RET" -ge 550 ]; }; then
			break
		fi
		db_input high bitcoin-knots/pruneduringinit-wrong || true
		db_go || true
		db_input low bitcoin-knots/pruneduringinit || true
		db_go || true
		db_get bitcoin-knots/pruneduringinit || RET=
		done
	fi
elif [ "$RET" = "false" ];then
	db_reset bitcoin-knots/txindex || true
	db_input medium bitcoin-knots/txindex || db_set bitcoin-knots/txindex ""
	db_go || true
fi
unset RET

db_reset bitcoin-knots/datacarriersize || true
db_input medium bitcoin-knots/datacarriersize || db_set bitcoin-knots/datacarriersize ""
db_go || true

db_get bitcoin-knots/datacarriersize || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/datacarriersize-wrong || true
	db_go || true
	db_input medium bitcoin-knots/datacarriersize || true
	db_go || true
	db_get bitcoin-knots/datacarriersize || RET=
	done
fi
unset RET

db_reset bitcoin-knots/dbcache || true
db_input medium bitcoin-knots/dbcache || db_set bitcoin-knots/dbcache ""
db_go || true

db_get bitcoin-knots/dbcache || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 4 ]; then
		break
	fi
	db_input high bitcoin-knots/dbcache-wrong || true
	db_go || true
	db_input medium bitcoin-knots/dbcache || true
	db_go || true
	db_get bitcoin-knots/dbcache || RET=
	done
fi
unset RET

db_reset bitcoin-knots/rpcthreads || true
db_input low bitcoin-knots/rpcthreads || db_set bitcoin-knots/rpcthreads ""
db_go || true

db_get bitcoin-knots/rpcthreads || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/rpcthreads-wrong || true
	db_go || true
	db_input low bitcoin-knots/rpcthreads || true
	db_go || true
	db_get bitcoin-knots/rpcthreads || RET=
	done
fi
unset RET

db_reset bitcoin-knots/rpcworkqueue || true
db_input low bitcoin-knots/rpcworkqueue || db_set bitcoin-knots/rpcworkqueue ""
db_go || true

db_get bitcoin-knots/rpcworkqueue || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/rpcworkqueue-wrong || true
	db_go || true
	db_input low bitcoin-knots/rpcworkqueue || true
	db_go || true
	db_get bitcoin-knots/rpcworkqueue || RET=
	done
fi
unset RET

db_reset bitcoin-knots/blockprioritysize || true
db_input low bitcoin-knots/blockprioritysize || db_set bitcoin-knots/blockprioritysize ""
db_go || true

db_get bitcoin-knots/blockprioritysize || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 0 ] && [ "$RET" -le 4000000 ] ; }; then
		break
	fi
	db_input high bitcoin-knots/blockprioritysize-wrong || true
	db_go || true
	db_input low bitcoin-knots/blockprioritysize || true
	db_go || true
	db_get bitcoin-knots/blockprioritysize || RET=
	done
fi
unset RET

db_reset bitcoin-knots/blockmaxsize || true
db_input low bitcoin-knots/blockmaxsize || db_set bitcoin-knots/blockmaxsize ""
db_go || true

db_get bitcoin-knots/blockmaxsize || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 0 ] && [ "$RET" -le 3985000 ] ; }; then
		break
	fi
	db_input high bitcoin-knots/blockmaxsize-wrong || true
	db_go || true
	db_input low bitcoin-knots/blockmaxsize || true
	db_go || true
	db_get bitcoin-knots/blockmaxsize || RET=
	done
fi
unset RET

db_reset bitcoin-knots/blockmaxweight || true
db_input low bitcoin-knots/blockmaxweight || db_set bitcoin-knots/blockmaxweight ""
db_go || true

db_get bitcoin-knots/blockmaxweight || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 0 ] && [ "$RET" -le 3985000 ] ; }; then
		break
	fi
	db_input high bitcoin-knots/blockmaxweight-wrong || true
	db_go || true
	db_input low bitcoin-knots/blockmaxweight || true
	db_go || true
	db_get bitcoin-knots/blockmaxweight || RET=
	done
fi
unset RET

db_reset bitcoin-knots/maxmempool || true
db_input low bitcoin-knots/maxmempool || db_set bitcoin-knots/maxmempool ""
db_go || true

db_get bitcoin-knots/maxmempool || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 5 ]; then
		break
	fi
	db_input high bitcoin-knots/maxmempool-wrong || true
	db_go || true
	db_input low bitcoin-knots/maxmempool || true
	db_go || true
	db_get bitcoin-knots/maxmempool || RET=
	done
fi
unset RET

db_reset bitcoin-knots/blockreconstructionextratxn || true
db_input low bitcoin-knots/blockreconstructionextratxn || db_set bitcoin-knots/blockreconstructionextratxn ""
db_go || true

db_get bitcoin-knots/blockreconstructionextratxn || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/blockreconstructionextratxn-wrong || true
	db_go || true
	db_input low bitcoin-knots/blockreconstructionextratxn || true
	db_go || true
	db_get bitcoin-knots/blockreconstructionextratxn || RET=
	done
fi
unset RET

db_reset bitcoin-knots/blockreconstructionextratxnsize || true
db_input low bitcoin-knots/blockreconstructionextratxnsize || db_set bitcoin-knots/blockreconstructionextratxnsize ""
db_go || true

db_get bitcoin-knots/blockreconstructionextratxnsize || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/blockreconstructionextratxnsize-wrong || true
	db_go || true
	db_input low bitcoin-knots/blockreconstructionextratxnsize || true
	db_go || true
	db_get bitcoin-knots/blockreconstructionextratxnsize || RET=
	done
fi
unset RET

db_reset bitcoin-knots/maxorphantx || true
db_input low bitcoin-knots/maxorphantx || db_set bitcoin-knots/maxorphantx ""
db_go || true

db_get bitcoin-knots/maxorphantx || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -ge 0 ]; then
		break
	fi
	db_input high bitcoin-knots/maxorphantx-wrong || true
	db_go || true
	db_input low bitcoin-knots/maxorphantx || true
	db_go || true
	db_get bitcoin-knots/maxorphantx || RET=
	done
fi
unset RET