# lrc detects this file as being GPL-2.
debian/lrc.config

# lrc detects this file as only Apache-2.0, but the header makes clear it is Apache-2.0~with-LLVM-exception
contrib/devtools/clang-format-diff.py

# lrc detects this file as GPL-2 because it is a manifest file for multiple pieces of software, some of them licensed under the GPL-2.
contrib/guix/manifest.scm

# lrc detects these files as "Expat and/or public-domain", but the Expat license subsumes the parts of the code that were in the public domain.
src/crypto/sha256_arm_shani.cpp
src/crypto/sha256_x86_shani.cpp

# This file has a confusing header that uses the text "MIT/X11 license", but it then links to a website that just lists the MIT (Expat) license.
test/functional/mining_coin_age_priority.py
